server:
  port: ${SERVER_PORT:8080}

  tomcat:
    max-http-form-post-size: 10GB

spring:
  application.name: TalkToDo
  output:
    ansi:
      enabled: never

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    show-sql: false
    properties:
      hibernate.format_sql: false
    hibernate:
      ddl-auto: validate

  servlet:
    # Multipart request 의 업로드 파일 크기 제한 설정
    multipart:
      max-file-size: 10GB # 요청 파일 하나의 최대 크기
      max-request-size: 10GB # 요청 파일 전체의 최대 크기

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET}

cloud:
  aws:
    s3:
      bucket: ${CLOUD_AWS_S3_BUCKET}
    region.static: ${CLOUD_AWS_REGION_STATIC}
    credentials:
      accessKey: ${CLOUD_AWS_CREDENTIALS_ACCESS_KEY}
      secretKey: ${CLOUD_AWS_CREDENTIALS_SECRET_KEY}

api:
  url: ${API_URL}
